/* GERAL */

.container{
    width: 90%;
    margin: auto;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.btn-white{
    margin-top: 10px;
    background-color: #cfac6b;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.home{
    background-image: url('img/background1.0.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.about-me-body{
    background-image: url('img/background_desfoc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: #64472c;
}

.my-works{
    background-image: url('img/background_desfoc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: #64472c;
}

/* INICIO ESTILO HEADER */
.header{
    width: 100%;
    height: 30px;
}

.title{
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
    position: absolute;
}
.header ul{
    margin-top: 20px;
}

.header li{
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.header ul{
    list-style: none;
    float: right;
}

.header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

/* FIM ESTILO HEADER */

/* INICIO ESTILO ROBBIES TITULO */
.robbies_titulo{
    margin-top: 150px;
    position: absolute;
    background-color:rgb(88,83,54, 0.5);
    padding: 15px;
    border-radius: 10px;
}

.robbies_titulo h1{
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 2px rgb(88,83,54);
}

.robbies_titulo h3{
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 2px rgb(88,83,54);
}

.robbies_titulo p{
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 2px rgb(88,83,54);
}
/* FIM ESTILO ROBBIES TITULO */

/* INICIO ESTILO ROBBIES ABOUT-ME */
.about-me-h1{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 20px;
    margin-top: 100px;
    position: relative;
}

.about-me-h1 h1{
    font-size: 50px;
    color: white;
}

.about-me{
    margin: 50px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    border-radius: 10px;
    position: relative;
}

.texto-about-me{
    float: right;
    position: relative;
    text-align: center;
    padding: 50px;
    font-size: 20px;
}

.about-me-img img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 50px;
}

.about-me-kid-pant{
    margin: 50px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    border-radius: 10px;
    position: relative;
    background-color:rgb(88,83,54, 0.5);
}

.texto-about-me-kid-pant{
    position: relative;
    text-align: center;
    padding: 50px;
    font-size: 17px;
}

.about-me-img-kid-pant img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 40px;
    float: right;
}

.about-me-last-div{
    margin: 50px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    border-radius: 10px;
    position: relative;
}

.texto-about-me-last-div{
    float: right;
    position: relative;
    text-align: center;
    padding: 50px;
    font-size: 20px;
}

.about-me-img-last-div img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 50px;
}
/* FIM ESTILO ROBBIES ABOUT-ME */

/* INICIO FOOTER */
.footer{
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:rgb(88,83,54);
}

.footer_text{
    color: rgb(207, 207, 207);
    padding: 20px;
    float: left;
}

.footer_text2{
    color: rgb(207, 207, 207);
    padding: 50px;
    float: right;
}
/* FIM FOOTER */

/* INICIO GALLERY */
.heading {
    text-align: center;
    font-size: 2.0em;
    letter-spacing: 1px;
    padding: 40px;
    color: white;
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 450px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  height: 450px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-size: cover;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 450px;
  width: 550px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img { 
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}
/* FIM GALLERY */

/* INICIO PACOTES */
.box-total{
    margin: auto;
    border-radius: 10px;
    background-color: rgb(88,83,54, 0.5);
    align-items: center;
    text-align: center;
    margin-top: 100px;
    width: 80%;
    height: 450px;
}

.box-total h1{
    text-align: center;
    padding: 15px;
    font-size: 50px;
    color: white;
}

.box{
    margin-top: 20px;
    padding: 5px;
    position: relative;
    justify-content: center;
    display: inline-block;
    margin: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    color: white;
    border-radius: 5px;
}

.card img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* FIM PACOTES */

/* INICIO BOX CONTACT */
.contact{
    border-radius: 10px ;
    height: 500px;
    background-color: rgb(88,83,54, 0.5);
    width: 60%;
    padding: 30px;
    margin: auto;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin-bottom: 80px;
    display: flex;
    color: white;
    border-radius: 10px;
    position: relative;   
}

.contact h1{
    font-size: 45px;
    margin: 30px;
    color: white;
    height: 50px;
}

.contact input{
    width: 400px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    border: none;
    height: 30px;
    margin: 10px;
}

#input_textarea{
    width: 400px;
    height: 200px;
    padding: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin: 10px;
}

::placeholder{
    padding: 10px;
    font-size: 15px;
    color: rgb(141, 141, 141);
}

.contact hr{
    color: white;
    width: 60%;
}

.contact button a{
    text-decoration: none;
    color: white;
}

.span_contact{
    color: white;
    font-size: 13px;
}

.span_contact a{
    color: white;
}
/* FIM BOX CONTACT */





